<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <button id="chatbot-button" class="button1" style="text-align: center; margin-left: auto; margin-right: auto;">Ask a
    question</button>
  <div id="chatbot-container" style="display: none; position: fixed; bottom: 0; right: 25px; z-index: 9999;">
    <button id="chatbot-close-button" data-ppid="b0fffcb1-2e5f-1db1-4ca0-c818f756d441" class="btn btn-danger btn-sm" style="position: absolute; top: 0; right: 0;">Close</button>
    <iframe
      src="https://web.powerva.microsoft.com/environments/ae785cc9-623f-408c-927b-0308045be372/bots/mcd_policyQuote/webchat?__version__=2"
      frameborder="2" style="width: 30vw; height: 50vh;"></iframe>
  </div>

  <script lang="javascript">
    document.getElementById("chatbot-button").addEventListener("click", function () {
      var chatbotContainer = document.getElementById("chatbot-container");
      if (chatbotContainer.style.display === "none") {
        chatbotContainer.style.display = "block";
      } else {
        chatbotContainer.style.display = "none";
      }
    });

    document.getElementById("chatbot-close-button").addEventListener("click", function () {
      document.getElementById("chatbot-container").style.display = "none";
    });
  </script>
</body>

</html>
